@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    int x = 40; // razor view engine : means we can write both c# code and html in same file 
    string y= "hello sanam";
}
<h2>
    @x
   @y
</h2>
