
<h2>this is the body content of the index</h2>
<p>
    here % is equal to atherat <br>
    %RenderBody() this method used to render the body in layout and <br>
    %{
    Layout = "_Layout";
    } this is used show where the content is

</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat ut dolorum perspiciatis. Cupiditate
    perferendis, porro cum ea, voluptatibus eaque, nemo expedita quas rerum nobis impedit aspernatur unde incidunt
    hic fugiat?
</p>
