@{
    Layout = "_Layout";
}
    <h1> this is body content for privacy</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique repellat repudiandae numquam, quod optio
        sapiente quidem assumenda error quia, voluptatibus illum non dolore voluptatem excepturi sequi ipsum mollitia
        aut blanditiis!
    </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique repellat repudiandae numquam, quod optio
        sapiente quidem assumenda error quia, voluptatibus illum non dolore voluptatem excepturi sequi ipsum mollitia
        aut blanditiis!
    </p>

