<h1> this is first page within Statemanagement </h1>

<a href="/statemanagement/secondpage?name=sanamdon&age=43">Second page</a>
<form action="/statemanagement/secondpage" method="POST">
    <input name= "id" type="hidden" value="3242"/>
    <input type="submit" value="Submit Form"> 

</form>
@* reading the data from controller with out model binding *@
@ViewData["x"]
@ViewBag.Age